header#top {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;

  /* position: relative; */
  /* z-index: 1; */
  width: 100%;
  /* padding-top: 12rem; */
  background-color: #ffa69e;
  background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  /* margin-top: 120px; this compensates for fixed nav */
}
#name {
}
#profile {
  /* margin-top: 30px; */
  max-width: 33%;
  height: auto;
}
/* Tablet Styles */
@media only screen and (min-width: 768px) {
  header#top {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 250px;
    margin: 3rem;
    margin-top: 15rem;
  }
}

/* @media only screen and (min-width: 1024px) {
  header#top {
    margin-left: ;
  }
} */
