nav {
  display: flex;
  align-items: center;
  height: 120px;
  /* background-color: #4056a1; */
  /* color: #ffffff; */
  /* background-color: #ffa69e; */
  /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
  background-color: transparent;
  /* background-image: none; */
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* position: relative; */
  /* Fixed Nav Bar */
  position: fixed;
  top: 0;
  width: 100%;
  /* Fixed Nav Bar */
  z-index: 2;
}

nav span {
  font-family: "Bungee", cursive;
}

.vert {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}

.vert p {
  margin-bottom: auto;
}

.vert i {
  color: red;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  nav {
    background-color: #4056a1;
    color: #ffffff;
  }
}
