.tweet-form {
  display: flex;
  flex-direction: column;
}
#tweet-text {
  background: none;
  border: none;
  border-bottom: #545149 solid 4px;
  outline: none;
}

.tweet-btn-count {
  border: dotted yellow 5px;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.blue-btn {
  background-color: #4056a1;
  color: #fff;
  font-family: "Bungee", cursive;
}

.counter {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
}
#tweetBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Error Messages */
#errorEmpty,
#errorLengthTooLong {
  background-color: #f7cb15;
  border-radius: 20px;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  color: black;
  width: 75%;
  margin: auto;
  margin-bottom: 1rem;
  padding: 10px;
  display: none;
}

#errorEmpty i {
  color: #e97725;
  padding: 0 20px 0 20px;
}
#errorLengthTooLong i {
  color: #e97725;
  padding: 0 20px 0 20px;
}
