#tweets-container {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

#tweets-container header {
  background-color: #f4f1ec;
  background-image: none;
  height: auto;
  display: flex;
  flex-direction: row;
}
#tweets-container img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
#name {
  /* flex: 1; */
}
#handle {
  /* flex: 1; */
  margin-left: auto;
  margin-right: 15px;
  color: #c9cae2;
}

.tweet {
  border: #545149 solid 4px;
  padding: 20px;
  /* padding-bottom: 20px; */
  margin-bottom: 34px;
  transition: box-shadow ease-in-out 0.15s;
}
.tweet:hover {
  box-shadow: 6px 6px #c9cae2;
}

#tweets-container footer {
  display: flex;
  flex-direction: row;
}
#tweets-container footer .days-ago {
  font-size: 12px;
  text-transform: capitalize;
}

#tweets-container footer #icons {
  font-size: 10px;
  margin-left: auto;
}
#tweets-container footer #icons i {
  margin: 0px 2px;
  color: #4056a1;
}
#tweets-container footer #icons i:hover {
  color: rgb(213, 164, 4);
}

.tweetObj {
  border-bottom: #545149 solid 4px;
  padding-top: 20px;
  padding-bottom: 4px;
  margin-bottom: 10px;
}

/* Tablet Styles */
@media only screen and (min-width: 768px) {
  .container {
    width: 54%;
    margin: 3rem;
    margin-left: 0rem;

    margin-top: 120px;
  }
}
